<div class="bodycl">
<div class="navigation">
    <ul>
      <li>Anasayfa</li>
      <li>Yetİşkİn</li>
      <li id="logo">Erkan's Bike Shop</li>
      <li>Çocuk</li>
      <li>İletİşİm</li>
    </ul>
  </div>

  <div id="cover">
    <div class="cover-content">
      <h1 class="h10">Size Özel Bisikletler</h1>
      <h2 class="h20">İhtiyacınıza göre bisikletler üretiyoruz.</h2>
      <a href="#" class="btn">Alışveriş Yap!</a>
    </div>
  </div>

  <div class="products">
    <h3 id="blue" class="h30">Çok Satanlar</h3>
    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike.png">
      <h3 class="h30">Malibu</h3>
      <p class="p0">İçki tadında bisiklet sürmeye hazır mısın?</p>
      <h4 class="h40">$200.00</h4>
      <a href="#" class="btn">AL</a>
    </div>

    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike.png">
      <h3 class="h30">Manolya</h3>
      <p class="p0">Manolya koklayarak bisiklet sürmeye hazır mısın?</p>
      <h4 class="h40">$150.00</h4>
      <a href="#" class="btn">AL</a>
    </div>

    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike3.png">
      <h3 class="h30">Kriket</h3>
      <p class="p0">Kriket oynayarak bisiklet sürmeye hazır mısın?</p>
      <h4 class="h40">$300.00</h4>
      <a href="#" class="btn">AL</a>
    </div>

    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike4.png">
      <h3 class="h30">Papatya</h3>
      <p class="p0">Sevgi ile bisiklet sürmeye hazır mısın?</p>
      <h4 class="h40">$475.00</h4>
      <a href="#" class="btn">AL</a>
    </div>
  </div>

  <div class="products">
    <h3 class="blue">En Yeniler</h3>
    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike5.png">
      <h3 class="h30">Pasifik</h3>
      <p class="p0">Çocukluk hayallerinle bisiklet sürmeye hazır mısın?</p>
      <h4 class="h40">$95.00</h4>
      <a href="#" class="btn">AL</a>
    </div>

    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike6.png">
      <h3 class="h30">Gemlik</h3>
      <p class="p0">Gemlik'te eğlenircesine bisiklet sürmeye hazır mısın?</p>
      <h4 class="h40">$350.00</h4>
      <a href="#" class="btn">AL</a>
    </div>

    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike7.png">
      <h3 class="h30">Odun</h3>
      <p class="p0">Odunsu duygularla bisiklet sürmeye hazır mısın?</p>
      <h4 class="h40">$950.00</h4>
      <a href="#" class="btn">AL</a>
    </div>

    <div class="product">
      <img src="https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bike8.png">
      <h3 class="h30">Minik</h3>
      <p class="p0">Cooper tadında bisiklet sürmeye hazır mısın?</p>
      <h4 class="h40">$250.00</h4>
      <a href="#" class="btn">AL</a>
    </div>
  </div>
  <h3 class="h30">Hepsi Bizim Ürettiğimiz Bisikletlerdir.</h3>
</div>