<div class="topB">
		<div class="topBar">
	      <div class="topLink">
        <a href="#">Gmail</a>
	      </div>
	      <div class="topLink">
	        <a href="#">Images</a>
	      </div>
	      <div class="topLink">
	        <script type="text/javascript">
          $(document).ready(function() {
            $(".topLink img").hover(
              function(){
                $(this).attr("src","app-black.png")}
              , function(){
                $(this).attr("src","app-grey.png");
              });
          });
        </script>
        <a href="#"><img src="../Images/app-black.png" alt="Google Apps" /></a>
	      </div>
	      <div class="topLink">
	        <button type="button" name="signin">Sign in</button>
	      </div>
    	</div>
	</div>

	<div class="middleEarth">
		<img src="../Images/googlelogo.png">
		<div class="inputstyle">
			<input class="inputstyle2">
		</div>
		<div>
			<button>Google'da Ara</button>
			<button>Kendimi Sansli Hissediyorum</button>
		</div>
	</div>

	<div class="foot">
		<div class="bot">
			<div><a href="">Reklam</a></div>
			<div><a href="">Isletme</a></div>
			<div><a href="">Hakkinda</a></div>
		</div>
	</div>
	<div class="foot">
		<div class="rightbot">
			<div><a href="">Gizlilik</a></div>
			<div><a href="">Sartlar</a></div>
			<div><a href="">Ayarlar</a></div>
		</div>
	</div>